*{
    padding: 0;
    margin: 0;
}

.navigation {
    text-align: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    display: flex;
}
.navigation img{
    width: 100%;
}
.top-left {
    position: absolute;
    top: 0px;
    left: 100px;


}
.top-left p{
    font-size: 30px;
}
.top-left p a{
    color: greenyellow;
}
.q-mark{
    position: absolute;
    margin: 1em;
    top: 0px;
    right: 260px;
    color: white;
    width: 20px;
    border-radius: 100%;
    background-color: black;
}
.need-help{
    position: absolute;
    margin: 1em;
    
    top: 0px;
    right: 170px;
}
.join{
    position: absolute;
    margin: 1em;
    top: 0px;
    right: 120px;
    border: black 1px solid;
    box-shadow: 2px 3px;
    padding: 0 3px 0 3px;
}

.content {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content p{
    color: gray;
    
}
.search{
    border: 1px salmon #ccc; 
    position: absolute;
    align-items: center;
    top: 600px;
    left: 360px;
    width: 200px;
    height: -10px;
    padding-top: 20px;
    
    transform: translate(50%,-50%);
}
.search input{
    padding: 1em 2em;
}
.flex-box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
}

.box_a{
    display: flex;
    flex: 0.25;

    border: black 2px solid;
    background-color: rgb(243, 136, 202);
    font-size: 15px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    
}
.box_a .col_a{
    padding: 0 0 0 10px;
}



.box_b{
    display: flex;
    flex: 0.25;
    height: 180px;
    border: black 2px solid;
    background-color: rgb(248, 130, 62);
    font-size: 15px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    

}

.box_b .col_c{
    padding: 0 0 0 10px;
}



.box_c{
    display: flex;
    flex: 0.25;
    height: 180px;
    border: black 2px solid;
    background-color: rgb(247, 89, 186);
    font-size: 15px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    

}

.box_c .col_e{
    padding: 0 0 0 10px;
}





.flex-container2{
    display: flex;
    padding-top: 30px;
    margin:30px;
}
.colA{
    width: 20%;
}
.box_left{
    
    margin-left: 60px;
    width: 30%;
}
.box_left .colA img{
    width: 30%;
}
.box_right{
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}
.column1{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.column1 .shirt{
    width: 200px;
    height: 300px;
    border: 2px solid black;
}
.column1 .shirt img{
    width: 150px;
    height: 150px;
}
.column2{
    display: flex;
    margin: 15px;
    justify-content: space-between;

}
.column2 .shirt{
    width: 200px;
    height: 300px;
    border: 2px solid black;
}
.column2 .shirt img{
    width: 150px;
    height: 150px;
}
.shirt
{   margin: 2px;
    border:  2px solid;
}


