*{
    padding: 0;
    margin: 0;
}

.navigation {
    text-align: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    display: flex;
}
.navigation img{
    width: 100%;
}
.top-left {
    position: absolute;
    top: 0px;
    left: 100px;


}
.top-left p{
    font-size: 30px;
}
.top-left p a{
    color: greenyellow;
}
.q-mark{
    position: absolute;
    margin: 1em;
    top: 0px;
    right: 260px;
    color: white;
    width: 20px;
    border-radius: 100%;
    background-color: black;
}
.need-help{
    position: absolute;
    margin: 1em;
    
    top: 0px;
    right: 170px;
}
.join{
    position: absolute;
    margin: 1em;
    top: 0px;
    right: 120px;
    border: black 1px solid;
    box-shadow: 2px 3px;
    padding: 0 3px 0 3px;
}

.content {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content p{
    color: gray;
    
}
.search{
    border: 1px salmon #ccc; 
    position: absolute;
    align-items: center;
    top: 600px;
    left: 360px;
    width: 200px;
    height: -10px;
    padding-top: 20px;
    border-radius: 20px;
    transform: translate(50%,-50%);
}
.search input{
    padding: 1em 2em;
}
.flex-box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin-top: 70px;
}

.box_a{
    display: flex;
    flex: 0.25;

    border: black 2px solid;
    background-color: rgb(243, 136, 202);
    font-size: 15px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    
}
.box_a .col_a{
    padding: 0 0 0 10px;
}



.box_b{
    display: flex;
    flex: 0.25;
    height: 180px;
    border: black 2px solid;
    background-color: rgb(248, 130, 62);
    font-size: 15px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    

}

.box_b .col_c{
    padding: 0 0 0 10px;
}



.box_c{
    display: flex;
    flex: 0.25;
    height: 180px;
    border: black 2px solid;
    background-color: rgb(247, 89, 186);
    font-size: 15px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    

}

.box_c .col_e{
    padding: 0 0 0 10px;
}





.flex-container{
    display: flex;
    padding-top: 30px;
    position: relative;


}
.colA{
    width: 20%;
}
.box_left{
    
    margin-top: 50px;
    margin-left: 100px;
    width: 30%;

}
.box_left .colA img{
    width: 30%;
}
.button{
    margin-top: 30px;
}
.button input{
    box-shadow: 2px 2px 2px 2px;
}


.box_right{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
    left: 100px;
    background-color: rgb(241, 236, 234);

}

.product{
    position: relative;
    border: 3px solid;
    background-color: white;
    margin: 15px;
    height: 350px;
    display: flex;
}




.discount{
    
    position: absolute;
    border: 1px solid orangered;
    border-radius: 8px;
    width: 50px;
    margin-top: 10px;
    margin-left: 250px;
    text-align: center;
    background-color: orangered;
    color: white;
    
}
.product_img{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    
    align-items: center;
    margin-top: 30px;
}
.up img{
    
    width: 180px;
    height: 180px;

}
.down img{
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-top: 20px;
}
.product_detail{
    
    width: 600px;
    display: flex;
    flex-direction: column;
}
.first{
    margin-top: 25px;
    margin-left: 40px;
    font-size: 20px;
    font-style: 'Lucida Sans', 'Lucida Sans Regular';
    display: flex;
}
.price{
    display: flex;
    margin-left: 250px;
}
.price .before{
    font-style:'Lucida Sans', 'Lucida Sans Regular';
    margin-left: 10px;
    color: red;
    text-decoration: line-through;
}
.price .after{
    font-style:'Lucida Sans', 'Lucida Sans Regular';
    margin-left: 20px;
    color: green;
}
.second{
    margin-left: 40px;
    margin-top: 55px;
}
.second p{
    font-style: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 15px;
}
.third{
    margin-top: 95px;
    margin-left: 40px;
}
.third input{
    width: 60px;
    border: 3px solid;
    box-shadow: 3px 5px;
    font-style: 'Lucida Sans', 'Lucida Sans Regular';
}
.product_tag{
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
}
.male{
    border: 2px solid  rgb(221, 218, 218);
    border-radius: 6px;
    background-color: rgb(221, 218, 218);
    width: 100px;
    height: 25px;
    text-align: center;
}
.single{
    border: 2px solid  rgb(221, 218, 218);
    border-radius: 6px;
    background-color: rgb(221, 218, 218);
    width: 100px;
    height: 25px;
    text-align: center;
    margin-left: 20px;
}
.comment{
    margin: 15px;
    font-style: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 20px;
}