*{
    padding: 0;
    margin: 0;
}

.navigation {
    text-align: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    display: flex;
}
.navigation img{
    width: 100%;
}
.top-left {
    position: absolute;
    top: 0px;
    left: 100px;


}
.top-left p{
    font-size: 30px;
}
.top-left p a{
    color: greenyellow;
}
.q-mark{
    position: absolute;
    margin: 1em;
    top: 0px;
    right: 260px;
    color: white;
    width: 20px;
    border-radius: 100%;
    background-color: black;
}
.need-help{
    position: absolute;
    margin: 1em;
    
    top: 0px;
    right: 170px;
}
.join{
    position: absolute;
    margin: 1em;
    top: 0px;
    right: 120px;
    border: black 1px solid;
    box-shadow: 2px 3px;
    padding: 0 3px 0 3px;
}

.content {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content p{
    color: gray;
    
}
.search{
    border: 1px salmon #ccc; 
    position: absolute;
    align-items: center;
    top: 600px;
    left: 360px;
    width: 200px;
    height: -10px;
    padding-top: 20px;
    
    transform: translate(50%,-50%);
}
.search input{
    padding: 1em 2em;
}
.flex-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.box_a{
    display: flex;
    flex: 0.25;
    height: 180px;
    margin:10px;
    border: black 2px solid;
    background-color: rgb(243, 136, 202);
    font-size: 15px;
    position: relative;
 
}

.col_a{
    width: auto;
    padding: 20px 0 0 0;
    margin: 30px 0 0 10px;
}
.col_b{
    padding: 40px 0 0 60px;
}

.box_b{
    display: flex;
    flex: 0.25;
    height: 180px;
    margin:10px;
    border: black 2px solid;
    background-color: #e79e4f;
    font-size: 15px;
    position: relative;

}

.col_c{
    width: auto;
    padding: 20px 0 0 0;
    margin: 30px 0 0 10px;
}
.col_d{
    padding: 55px 0 0 0;
    right: 0;
}

.box_c{
    display: flex;
    flex: 0.25;
    height: 180px;
    margin:10px;
    border: black 2px solid;
    background-color: cornsilk;
    font-size: 15px;
    position: relative;

}

.col_e{
    padding: 20px 0 0 0;
    margin: 30px 0 0 10px;
}

.col_f{
    padding: 40px 0 0 150px;
}



